textarea {
  border-radius: 15px !important;
}

textarea.formcontrol {
  border:1px solid #dfdfdf !important;
}

textarea.form-control:focus {
  border:1px solid #dfdfdf !important;
  box-shadow: none ;
}

.touched.invalid, .touched.invalid:focus {
  box-shadow: inset 0 0 0.4rem white !important;
  border:1px solid #dfdfdf !important;
}

.touched.valid, .touched.valid:focus {
  border:1px solid white !important;
  box-shadow: inset 0 0 0.4rem #0d6efd !important;
}

button.text-center {
  display: inline;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #0d6efd;
}