.round-button {
  border: 2px solid #dfdfdf;
  height: 2rem;
  width: 2rem;
  border-radius: 100px;
  transition: all 0.2s;
  color: #dfdfdf;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0) !important;
}

.round-button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.round-button.blue:hover {
  border: 2px solid #5899fa;
  color: white;
  background-color: #5899fa;
}

.round-button.red {
  border: 2px solid #dc3545;
  color: #dc3545;
}

.round-button.red:hover {
  background-color: #dc3545;
  color: white;
}

.text-center.m-auto.p-0 {
  color: inherit;
  font-size: .5rem !important;
}

.bi-pencil-fill::before, .bi-x::before {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 70%;
}

.action-buttons-container {
  position: absolute;
  right: 1.5rem;
  border: 1px solid #dfdfdf;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.1);
}

.action-buttons-container.d-flex.button-hidden {
  display: none !important;
}

button.confirm-delete {
  height: 2rem;
  border: none;
  background-color: white;
  color: #dc3545;
  border-radius: 100px;
  border: 2px solid #dc3545;
  transition: all .4s;
}

button.confirm-delete:hover {
  background-color: #dc3545;
  color:white
}

button.confirm-delete:hover[disabled] {
  background-color: white;
  color:#dc3545;
}

.delete-container.expanded {
  border-radius: 100px;
  background: #dc3545;
}

.confirm-delete.hidden {
  display: none;
}

/* STYLING LIKE BUTTON */

.round-button.no-border {
  border: 0px solid white !important;
}

i.bi.bi-hand-thumbs-up-fill.fs-4.d-block {
  color: #5899fa;
}
i.bi.bi-hand-thumbs-up-fill.fs-4.d-block:hover {
  color: white;
}

/* STYLING LIKES COUNTER */

div.fs-3.ms-3.me-2 {
  color: #5899fa;
  font-weight: 500;
}