.main-header {
  --header-primary: hsl(210, 11%, 15%);
  --header-primary-light: hsl(210, 11%, 20%);
  --header-primary-lighter: hsl(210, 11%, 25%);
  --header-secondary: hsl(216, 98%, 52%);
  --text-color: hsl(0, 0%, 100%);
  --text-color-dark: hsl(0, 0%, 70%);
  width: 100%;
  background-color: var(--header-primary);
  z-index: 100;
}

.main-header .container {
  height: 60px;
}

.main-header__logo {
  display: block;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.main-header__logo:hover,
.main-header__logo:focus,
.main-header__logo:active,
.main-header__logo:visited {
  color: var(--text-color);
}

.main-header__logo svg {
  display: inline-block;
  vertical-align: -0.125em;
  height: 24px;
  width: 24px;
  fill: var(--header-secondary);
  animation: loop 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.main-header__logged-screen {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.main-header__logged-screen:hover,
.main-header__logged-screen.active {
  color: var(--text-color-dark);
}

.main-header__logged-screen:hover .main-header__logged-screen__avatar {
  border-color: var(--header-secondary);
}

.main-header__logged-screen__user {
  margin-right: 10px;
  user-select: none;
}

.main-header__logged-screen__avatar {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--header-primary-lighter);
  border-radius: 18px;
  transition: border-color 0.3s ease-in-out;
  user-select: none;
}

.main-header__options {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 240px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--header-primary);
  cursor: auto;
  visibility: hidden;
  z-index: 999;
}

.main-header__options.active {
  visibility: visible;
}

.main-header__options__item {
  font-size: 16px;
  line-height: 16px;
}

.main-header__options__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.main-header__options__link:hover {
  background-color: var(--header-primary-light);
}

.main-header__options__link:hover,
.main-header__options__link:focus,
.main-header__options__link:active,
.main-header__options__link:visited {
  color: var(--text-color);
}

.main-header__options__link i {
  font-size: 18px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-primary-lighter);
  border-radius: 18px;
  margin: 0 10px;
  transition: background-color 0.3s ease-in-out;
}

.main-header__options__link:hover i {
  background-color: var(--header-secondary);
}

@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
