@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}

.bi {
  display: inline-block;
  vertical-align: 0.125em;
}
