.home-brand {
  --primary-color: hsl(210, 11%, 15%);
  --secondary-color: hsl(216, 98%, 52%);
}

.home-brand__logo {
  font-size: 48px;
  font-weight: 500;
  color: var(--primary-color);
}

.home-brand__logo svg {
  display: inline-block;
  vertical-align: -0.125em;
  height: 48px;
  width: 48px;
  fill: var(--secondary-color);
  animation: loop 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.home-brand__subtitle {
  max-width: 40ch;
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
