.rounded {
  border-radius: 15px !important;
}

.thread-card {
  min-height: 72px !important;
}

p:last-child {
  margin-bottom: 0px;
}

.text-muted {
  color: #999 !important;
}

.carousel {
  -moz-box-shadow:    inset 0 1rem 3rem rgba(0, 0, 0, .175);
  -webkit-box-shadow: inset -3rem 1rem 3rem rgba(0, 0, 0, .175);
  box-shadow:         inset 0 0 1rem rgba(0, 0, 0, .08)
}

.modal-header {
  border-bottom: none;
}

.btn-close, .close-modal {
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: 100;
}

.btn-close:active {
  box-shadow: none;
}

.bi-x-circle-fill::before {
  vertical-align: middle;
}

.new-comment {
  background-color: rgba(255, 255, 255, 0);
  animation: blue-fadeout 1s ease-out;
}

@keyframes blue-fadeout {
  100% {
    background-color: rgba(255, 255, 255, 0);
  }

  50% {
    background-color: #0d6dfd5d;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}