.error-popover {
  position: absolute;
  z-index: 3;
  right: 0;
  border-radius: 5px !important;
  width: 145px;
  font-size: 70%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.733);
  transform: translateY(3rem);
  animation: wobble .4s linear;
}

@keyframes wobble {
  0% {
    transform: translate(0, 3rem);
  }

  20% {
    transform: translate(1rem, 3rem);
  } 


  40% {
    transform: translate(-1rem, 3rem);
  } 

  60% {
    transform: translate(1rem, 3rem);
  } 

  80% {
    transform: translate(-1rem, 3rem);
  } 

  100% {
    transform: translateX(0, 3rem);
  } 
}