.post-box {
  --post-primary: hsl(210, 14%, 89%);
  --post-secondary: hsl(210, 11%, 15%);
  --post-tertiary: hsl(216, 98%, 52%);
  --post-quaternary: hsl(210, 11%, 55%);
}

.post-box__top {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--post-primary);
  box-shadow: 5px 5px 0px 0px hsl(210, 14%, 79%);
}

.post-box__date {
  margin-right: 10px;
  font-size: 14px;
  color: var(--post-quaternary);
}

.post-box__title {
  flex-grow: 1;
  color: var(--post-secondary);
  transition: color 0.2s ease-in-out;
}

.post-box__views {
  margin-left: 10px;
  color: var(--post-tertiary);
}

.post-box__views i {
  margin-right: 5px;
}

.post-box__body {
  max-width: 85%;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 5%;
  font-size: 14px;
  background-color: var(--post-primary);
  color: var(--post-quaternary);
  box-shadow: 5px 5px 0px 0px hsl(210, 14%, 79%);
}
