.comment-box {
  --comment-primary: hsl(210, 14%, 89%);
  --comment-secondary: hsl(210, 11%, 15%);
  --comment-light: hsl(0, 0%, 100%);
  --comment-dark: hsl(210, 11%, 55%);
}

.comment_box__post-title {
  padding: 10px 0 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--comment-primary);
  box-shadow: 5px 5px 0px 0px hsl(210, 14%, 79%);
}

.comment_box__post-title span {
  margin-right: 10px;
  text-transform: uppercase;
  color: var(--comment-dark);
}

.comment-box__body {
  display: flex;
  align-items: center;
}

.comment-box__user-avatar {
  min-height: 36px;
  min-width: 36px;
  max-height: 36px;
  max-width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  margin: 0 10px;
  background-color: var(--comment-secondary);
  color: var(--comment-light);
  user-select: none;
}

.comment-box__body i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--comment-dark);
}

.comment-box__info {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--comment-primary);
  box-shadow: 5px 5px 0px 0px hsl(210, 14%, 79%);
}

.comment-box__comment-content,
.comment-box__comment-date {
  font-size: 14px;
}

.comment-box__comment-date {
  color: var(--comment-dark);
}
