.profile-stats {
  --profile-box: hsl(210, 16%, 87%);
  --profile-primary: hsl(210, 11%, 15%);
  --profile-secondary: hsl(216, 98%, 52%);
  --profile-tertiary: hsl(0, 0%, 100%);
  --profile-quaternary: hsl(208, 7%, 46%);
  --profile-admin: hsl(354, 71%, 46%);
  --profile-admin-hover: hsl(354, 71%, 41%);
  --profile-box-btn: hsl(152, 69%, 31%);
  --profile-box-btn-hover: hsl(152, 69%, 26%);
  height: 100%;
  min-height: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 0px 1px var(--profile-box),
    0px 10px 30px 5px var(--profile-box);
}

.profile-stats__avatar {
  height: 128px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid transparent;
  border-radius: 64px;
  font-size: 64px;
  background-color: var(--profile-primary);
  color: var(--profile-tertiary);
  transition: border 0.4s ease-in-out;
  user-select: none;
}

.profile-stats:hover .profile-stats__avatar {
  border: 4px solid var(--profile-secondary);
}

.profile-stats__user-stats {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
}

.profile-stats__stat {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-stats__stat span:first-of-type {
  font-size: 20px;
  font-weight: 500;
}

.profile-stats__stat span:last-of-type {
  color: var(--profile-quaternary);
}

.profile-stats__user-details {
  font-size: 20px;
  font-weight: 500;
}

.profile-stats__user-role {
  color: var(--profile-secondary);
}

.profile-stats__user-role--admin {
  letter-spacing: 1px;
  color: var(--profile-admin);
}

.profile-stats__membership {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--profile-quaternary);
}

.profile-stats__add-friend {
  display: block;
  padding: 5px 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: var(--profile-box-btn);
  color: var(--profile-tertiary);
  transition: background-color 0.2s ease-in-out;
}

.profile-stats__add-friend:hover {
  background-color: var(--profile-box-btn-hover);
}

.profile-stats__remove-friend {
  display: block;
  padding: 5px 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: var(--profile-admin);
  color: var(--profile-tertiary);
  transition: background-color 0.2s ease-in-out;
}

.profile-stats__remove-friend:hover {
  background-color: var(--profile-admin-hover);
}
