.rounded > .profile-stats,
.modal-fullscreen-sm-down {
  border-radius: 15px;
  box-shadow: 0 0 0 white;
}

div.modal-content.profile-stats-modal {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
