.home-register-form {
  --primary-color: hsl(210, 14%, 83%);
  height: 640px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px var(--primary-color),
    0px 10px 30px 5px var(--primary-color);
}
