.main-nav {
  --link-primary: hsl(210, 11%, 15%);
  --link-primary-hover: hsl(210, 11%, 20%);
  --link-active: hsl(216, 98%, 52%);
  --link-attention: hsl(354, 71%, 46%);
  --link-attention-hover: hsl(354, 71%, 41%);
  --link-text-color: hsl(0, 0%, 100%);
}

.main-nav__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__menu__item {
  line-height: 16px;
}

.main-nav__menu__item + .main-nav__menu__item {
  margin-left: 10px;
}

.main-nav__menu__link {
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 10px;
  background-color: var(--link-primary);
  color: var(--link-text-color);
  transition: background-color 0.3s ease-in-out;
}

.main-nav__menu__link:hover,
.main-nav__menu__link:focus,
.main-nav__menu__link:active,
.main-nav__menu__link:visited {
  color: var(--link-text-color);
}

.main-nav__menu__link:hover {
  background-color: var(--link-primary-hover);
}

.main-nav__menu__link.active {
  background-color: var(--link-active);
}

.main-nav__menu__link.attention {
  background-color: var(--link-attention);
}

.main-nav__menu__link.attention:hover {
  background-color: var(--link-attention-hover);
}
