.pagination-menu {
  --pagination-menu-primary: hsl(210, 14%, 89%);
  --pagination-menu-active: hsl(216, 98%, 52%);
  --pagination-menu-ligh: hsl(0, 0%, 100%);
  --pagination-menu-dark: hsl(210, 11%, 55%);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-menu__page {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: var(--pagination-menu-primary);
  color: var(--pagination-menu-dark);
}

.pagination-menu__page.active {
  background-color: var(--pagination-menu-active);
  color: var(--pagination-menu-ligh);
}

.pagination-menu__page + .pagination-menu__page {
  margin-left: 3px;
}

.pagination-menu__page i {
  display: flex;
  justify-content: center;
  align-items: center;
}
